name: Run scraper every day

on:
 schedule:
  - cron: '0 12 * * *'  # run every day at 12:00 UTC (7am EST)
 workflow_dispatch:  # Allow manual trigger

jobs:
  run-script:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v2

    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: 3.9

    - name: Install Python packages
      run: |
        python -m pip install --upgrade pip
        pip install requests
        pip install bs4

    - name: Run script
      env:
        uname: ${{ secrets.SCRAPER_UNAME }}
        pwd: ${{ secrets.SCRAPER_PWD }}
      run: |
        python scraper.py

    - name: Commit and push if changes
      run: |
        git config --global user.email "j.trashlieva@gmail.com"
        git config --global user.name "Joana Trashlieva"
        git add -A
        git diff --quiet && git diff --staged --quiet || (git commit -m 'Update files'; git push https://${GITHUB_TOKEN}@github.com/JoanaTrashlieva/home-scraper.git)
      env:
        GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}
